<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include ../style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/delete"> Delete Entry</a></li>
            <li><a href="/view"> View All</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Shopping website</h2>
        <p>
            
        </p>
        <form action="/delete" method="post" id="contact">
            <input required type="text" enterkeyhint="next" name="Title" class="title" placeholder="Enter Title">
            <button class="btn">Submit</button>
        </form>
    </div>
    </body>
</html>
