<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    style
      include ../style.css
    
          
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/delete"> Delete Entry</a></li>
            <li><a href="/view"> View All</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Shopping website</h2>
        <p>
            
        </p>
        <form action="/" method="post" id="contact">
            <input required type="text" enterkeyhint="next" name="Title" class="title" placeholder="Enter Title">
            <input type="number" name="Price" class="price" placeholder="Enter Price">
            <!-- <input type="text" name="Gender" class="gender" placeholder="Enter Your gender"> -->
            <!-- <input type="email" name="Email" class="email" placeholder="Enter Your email"> -->
            <textarea name="Description" id="description" cols="30" rows="10"placeholder="Enter your Description"></textarea>
            <input type="number" name="Rating" class="rating" placeholder="Enter Rating">
            <button class="btn">Submit</button>
        </form>
    </div>
    </body>
</html>
<!-- https://gist.github.com/prof3ssorSt3v3/7cf96e740e470ab87bfa637faeb7a83b -->
<!-- link for form making -->